@media screen and (min-width: 390px) {
.wrapper {
    width: 334px;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 28px;
    padding-right: 28px;
    z-index: 3;
    margin-bottom: 74px;
}
.wrapper h2 {
    margin-bottom: 30px;
}
.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 21px;
}
.textOf {
    color: #AAAAAA;
}
.textPlatform {
    background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.lernBtn {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 0.01em;
    color: #7B93FF;
    display: block;
    margin-bottom: 49px;
}
}

@media screen and (min-width: 1440px) {
    .wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 250px;
}
.wrapper h2 {
    margin-bottom: 21px;
}
.text {
    width: 382px;
    font-weight: 400;
    font-size: 18px;
}
.lernBtn {
    margin-bottom: 0;
}
}