@media screen and (min-width: 390px) {
.orbits {
    position: relative;
}
.orbit1,
.orbit2,
.orbit3,
.orbit4 {
    position: absolute;
    visibility: hidden;
}

.orbit3phone{
    position: absolute;
    top:0;
    right: 0;
    opacity: 0.4;
    z-index: 1;
}
.orbit4phone{
    position: absolute;
    top: -300px;
    left: 0;
    opacity: 0.4;
    z-index: 1;

}
.point1D,
.point2D{
    position: absolute;
    visibility: hidden;
}
.point1Ph {
    position: absolute;
    top: 880px;
    left: 237px;
}

.point2Ph {
    position: absolute;
    top: 1445px;
    right: 22px;
}
}
@media screen and (min-width: 1440px) {
.orbit1{
    visibility: visible;
    top: 680px;
    left: 827px;
    opacity: 0.4;
    z-index: 1;
}
.orbit2 {
    visibility: visible;
    top: 486px;
    left: 633px;
    opacity: 0.4;
    z-index: 1;
}
.orbit3 {
    visibility: visible;
    top: 250px;
    left: 397px;
    opacity: 0.4;
    width: unset;
    height: unset;
}
.orbit4 {
    visibility: visible;
    top:0;
    left:147px;
    opacity: 0.4;
    width: unset;
    height: unset;
}
.point1D{
    visibility: visible;
    top:1100px;
    left: 419px;
}
.point2D {
    visibility: visible;
    top: 1180px;
    right: 36px;
}
.orbit3phone,
.orbit4phone,
.point1Ph,
.point2Ph{
    visibility: hidden;
}
}